.counters-clock {
  display: inline-block;
  text-align: center;
}

.counters-clock svg {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  width: 2.5em;
  height: 2.5em;
  vertical-align: middle;
}

.counters-clock svg circle {
  fill: none;
  stroke: #000;
  stroke-width: 4;
}

.counters-clock svg circle[data-filled="false"] {
  fill: #fff;
}

.counters-clock svg circle[data-filled="true"] {
  fill: #000;
}

.counters-clock svg path {
  fill: #fff;
  stroke: #000;
  stroke-width: 2;
}

.counters-clock svg path[data-filled="true"] {
  fill: #000;
  stroke: #fff;
  stroke-width: 2;
}

.counters-counter {
  display: inline-block;
  text-align: center;
}

.counters-timer__buttons button {
  margin: 0;
  padding: 0 0.2em;
  width: 2em;
  height: 1.5em;
  vertical-align: middle;
}

.counters-counter__buttons button[disabled] {
  color: #999;
}

.counters-counter__button-increment {
  color: #0d0;
}

.counters-counter__button-decrement {
  color: #d00;
}

.counters-counter__value {
  font-family: monospace;
}

.counters-counter__value input {
  text-align: center;
  width: 6em;
}

.counters-counter__value span {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.counters-panel {
  position: relative;
}

.counters-panel__add-section {
  display: inline-block;
  margin-top: 0.25em;
}

.counters-section {
  border: 1px solid #999;
  border-radius: 0.5em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0.25em 0.5em;
  position: relative
}

.counters-section + .counters-section {
  margin-top: 1em;
}

.counters-section__children {
  display: flex;
  flex-wrap: wrap;
}

.counters-section__child {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}


.counters-section__child-name {
  font-size: 75%;
  min-height: 1em;
  min-width: 1em;
  text-align: center;
  white-space: nowrap;
}

.counters-section__child-name span {
  display: inline-block;
  margin: 0.25em 0;
  text-align: center;
  width: 100%;
}

.counters-section__name {
  font-size: 75%;
  font-weight: lighter;
}

.counters-section__remove {
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 50%;
}

.counters-section__remove-child {
  text-align: center;
}

.counters-section__remove-child button {
  cursor: pointer;
  font-size: 50%;
}

.counters-section__children > * {
  margin-right: 0.5em;
  margin-top: 0.5em;
  vertical-align: middle;
}

.counters-section__add-child {
  font-size: 75%;
  margin-top: 0.5em;
}

.counters-section__add-child input {
  width: 2em;
}

.counters-timer {
  display: inline-block;
  text-align: center;
}

.counters-timer__elapsed {
  font-family: monospace;
}

.counters-timer__buttons button {
  margin: 0;
  padding: 0 0.2em;
  width: 2em;
  height: 1.5em;
  vertical-align: middle;
}

.counters-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25em;
  text-align: center;
}

.counters-title__main-title {
  font-weight: 500;
}

.counters-title__subtitle {
  font-size: 75%;
  font-weight: 200;
}

.counters-version {
  font-weight: 100;
  font-size: 75%;
  text-align: right;
  opacity: 0.75;
  position: absolute;
  bottom: 0;
  right: 0;
}
